<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>PNGAssets/background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {768, 1024}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {768, 1024}}</string>
			<key>sourceSize</key>
			<string>{768, 1024}</string>
		</dict>
		<key>PNGAssets/bullet.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1641}, {29, 50}}</string>
			<key>offset</key>
			<string>{0, 3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35, 22}, {29, 50}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>PNGAssets/car.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1027}, {307, 83}}</string>
			<key>offset</key>
			<string>{0, -45}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6, 104}, {307, 83}}</string>
			<key>sourceSize</key>
			<string>{320, 200}</string>
		</dict>
		<key>PNGAssets/deadpigeon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1564}, {29, 75}}</string>
			<key>offset</key>
			<string>{-2, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58, 40}, {29, 75}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>PNGAssets/deadraven.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1487}, {75, 69}}</string>
			<key>offset</key>
			<string>{-4, 13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{33, 27}, {75, 69}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>PNGAssets/deadswallow.png</key>
		<dict>
			<key>frame</key>
			<string>{{166, 1112}, {49, 52}}</string>
			<key>offset</key>
			<string>{5, 3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56, 46}, {49, 52}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>PNGAssets/heart.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1336}, {149, 142}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15, 5}, {149, 142}}</string>
			<key>sourceSize</key>
			<string>{180, 151}</string>
		</dict>
		<key>PNGAssets/pigeon.png</key>
		<dict>
			<key>frame</key>
			<string>{{86, 1173}, {98, 93}}</string>
			<key>offset</key>
			<string>{0, -6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26, 35}, {98, 93}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>PNGAssets/poopinfly.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1693}, {10, 19}}</string>
			<key>offset</key>
			<string>{-3, -6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42, 47}, {10, 19}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>PNGAssets/pooponcar.png</key>
		<dict>
			<key>frame</key>
			<string>{{86, 1273}, {55, 69}}</string>
			<key>offset</key>
			<string>{0, -8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23, 24}, {55, 69}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>PNGAssets/raven.png</key>
		<dict>
			<key>frame</key>
			<string>{{86, 1027}, {144, 78}}</string>
			<key>offset</key>
			<string>{-1, 4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2, 32}, {144, 78}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
		<key>PNGAssets/swallow.png</key>
		<dict>
			<key>frame</key>
			<string>{{166, 1027}, {83, 70}}</string>
			<key>offset</key>
			<string>{0, 9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{33, 31}, {83, 70}}</string>
			<key>sourceSize</key>
			<string>{150, 150}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>PNGAssets.png</string>
	</dict>
</dict>
</plist>
