<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ReloadAnimation/reload1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 680}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload10.png</key>
		<dict>
			<key>frame</key>
			<string>{{195, 486}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload11.png</key>
		<dict>
			<key>frame</key>
			<string>{{680, 98}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload12.png</key>
		<dict>
			<key>frame</key>
			<string>{{195, 98}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload13.png</key>
		<dict>
			<key>frame</key>
			<string>{{98, 195}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload14.png</key>
		<dict>
			<key>frame</key>
			<string>{{874, 1}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload15.png</key>
		<dict>
			<key>frame</key>
			<string>{{195, 1}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload16.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 389}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload17.png</key>
		<dict>
			<key>frame</key>
			<string>{{292, 680}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload18.png</key>
		<dict>
			<key>frame</key>
			<string>{{680, 195}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload19.png</key>
		<dict>
			<key>frame</key>
			<string>{{195, 680}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload2.png</key>
		<dict>
			<key>frame</key>
			<string>{{292, 777}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload20.png</key>
		<dict>
			<key>frame</key>
			<string>{{98, 486}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload21.png</key>
		<dict>
			<key>frame</key>
			<string>{{486, 1}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload22.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 777}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload23.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload24.png</key>
		<dict>
			<key>frame</key>
			<string>{{389, 292}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload25.png</key>
		<dict>
			<key>frame</key>
			<string>{{874, 195}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload26.png</key>
		<dict>
			<key>frame</key>
			<string>{{292, 195}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload27.png</key>
		<dict>
			<key>frame</key>
			<string>{{195, 195}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload28.png</key>
		<dict>
			<key>frame</key>
			<string>{{389, 98}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload29.png</key>
		<dict>
			<key>frame</key>
			<string>{{98, 389}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload3.png</key>
		<dict>
			<key>frame</key>
			<string>{{486, 195}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload30.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 292}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload31.png</key>
		<dict>
			<key>frame</key>
			<string>{{292, 486}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload32.png</key>
		<dict>
			<key>frame</key>
			<string>{{583, 195}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload33.png</key>
		<dict>
			<key>frame</key>
			<string>{{195, 583}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload34.png</key>
		<dict>
			<key>frame</key>
			<string>{{777, 98}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload35.png</key>
		<dict>
			<key>frame</key>
			<string>{{486, 98}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload36.png</key>
		<dict>
			<key>frame</key>
			<string>{{98, 680}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload37.png</key>
		<dict>
			<key>frame</key>
			<string>{{777, 1}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload38.png</key>
		<dict>
			<key>frame</key>
			<string>{{98, 1}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload39.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 195}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload4.png</key>
		<dict>
			<key>frame</key>
			<string>{{195, 389}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload40.png</key>
		<dict>
			<key>frame</key>
			<string>{{195, 777}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload41.png</key>
		<dict>
			<key>frame</key>
			<string>{{874, 98}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload42.png</key>
		<dict>
			<key>frame</key>
			<string>{{292, 98}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload43.png</key>
		<dict>
			<key>frame</key>
			<string>{{98, 292}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload44.png</key>
		<dict>
			<key>frame</key>
			<string>{{583, 1}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload45.png</key>
		<dict>
			<key>frame</key>
			<string>{{292, 1}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload46.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 486}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload47.png</key>
		<dict>
			<key>frame</key>
			<string>{{292, 874}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload48.png</key>
		<dict>
			<key>frame</key>
			<string>{{777, 195}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload49.png</key>
		<dict>
			<key>frame</key>
			<string>{{195, 874}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload5.png</key>
		<dict>
			<key>frame</key>
			<string>{{98, 874}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload50.png</key>
		<dict>
			<key>frame</key>
			<string>{{98, 583}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload51.png</key>
		<dict>
			<key>frame</key>
			<string>{{680, 1}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload52.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 874}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload53.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 98}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload54.png</key>
		<dict>
			<key>frame</key>
			<string>{{292, 583}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload55.png</key>
		<dict>
			<key>frame</key>
			<string>{{292, 292}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload56.png</key>
		<dict>
			<key>frame</key>
			<string>{{389, 195}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload57.png</key>
		<dict>
			<key>frame</key>
			<string>{{195, 292}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload58.png</key>
		<dict>
			<key>frame</key>
			<string>{{583, 98}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload59.png</key>
		<dict>
			<key>frame</key>
			<string>{{98, 777}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload6.png</key>
		<dict>
			<key>frame</key>
			<string>{{98, 98}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload60.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 583}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload61.png</key>
		<dict>
			<key>frame</key>
			<string>{{486, 292}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload7.png</key>
		<dict>
			<key>frame</key>
			<string>{{389, 1}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload8.png</key>
		<dict>
			<key>frame</key>
			<string>{{583, 292}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>ReloadAnimation/reload9.png</key>
		<dict>
			<key>frame</key>
			<string>{{292, 389}, {95, 95}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {95, 95}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>ReloadAnimation.png</string>
	</dict>
</dict>
</plist>
