<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ReloadAnimation/reload1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 351}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload10.png</key>
		<dict>
			<key>frame</key>
			<string>{{101, 251}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload11.png</key>
		<dict>
			<key>frame</key>
			<string>{{351, 51}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload12.png</key>
		<dict>
			<key>frame</key>
			<string>{{101, 51}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload13.png</key>
		<dict>
			<key>frame</key>
			<string>{{51, 101}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload14.png</key>
		<dict>
			<key>frame</key>
			<string>{{451, 1}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload15.png</key>
		<dict>
			<key>frame</key>
			<string>{{101, 1}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload16.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 201}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload17.png</key>
		<dict>
			<key>frame</key>
			<string>{{151, 351}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload18.png</key>
		<dict>
			<key>frame</key>
			<string>{{351, 101}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload19.png</key>
		<dict>
			<key>frame</key>
			<string>{{101, 351}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload2.png</key>
		<dict>
			<key>frame</key>
			<string>{{151, 401}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload20.png</key>
		<dict>
			<key>frame</key>
			<string>{{51, 251}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload21.png</key>
		<dict>
			<key>frame</key>
			<string>{{251, 1}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload22.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 401}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload23.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload24.png</key>
		<dict>
			<key>frame</key>
			<string>{{201, 151}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload25.png</key>
		<dict>
			<key>frame</key>
			<string>{{451, 101}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload26.png</key>
		<dict>
			<key>frame</key>
			<string>{{151, 101}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload27.png</key>
		<dict>
			<key>frame</key>
			<string>{{101, 101}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload28.png</key>
		<dict>
			<key>frame</key>
			<string>{{201, 51}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload29.png</key>
		<dict>
			<key>frame</key>
			<string>{{51, 201}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload3.png</key>
		<dict>
			<key>frame</key>
			<string>{{251, 101}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload30.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 151}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload31.png</key>
		<dict>
			<key>frame</key>
			<string>{{151, 251}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload32.png</key>
		<dict>
			<key>frame</key>
			<string>{{301, 101}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload33.png</key>
		<dict>
			<key>frame</key>
			<string>{{101, 301}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload34.png</key>
		<dict>
			<key>frame</key>
			<string>{{401, 51}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload35.png</key>
		<dict>
			<key>frame</key>
			<string>{{251, 51}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload36.png</key>
		<dict>
			<key>frame</key>
			<string>{{51, 351}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload37.png</key>
		<dict>
			<key>frame</key>
			<string>{{401, 1}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload38.png</key>
		<dict>
			<key>frame</key>
			<string>{{51, 1}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload39.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 101}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload4.png</key>
		<dict>
			<key>frame</key>
			<string>{{101, 201}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload40.png</key>
		<dict>
			<key>frame</key>
			<string>{{101, 401}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload41.png</key>
		<dict>
			<key>frame</key>
			<string>{{451, 51}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload42.png</key>
		<dict>
			<key>frame</key>
			<string>{{151, 51}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload43.png</key>
		<dict>
			<key>frame</key>
			<string>{{51, 151}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload44.png</key>
		<dict>
			<key>frame</key>
			<string>{{301, 1}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload45.png</key>
		<dict>
			<key>frame</key>
			<string>{{151, 1}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload46.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 251}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload47.png</key>
		<dict>
			<key>frame</key>
			<string>{{151, 451}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload48.png</key>
		<dict>
			<key>frame</key>
			<string>{{401, 101}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload49.png</key>
		<dict>
			<key>frame</key>
			<string>{{101, 451}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload5.png</key>
		<dict>
			<key>frame</key>
			<string>{{51, 451}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload50.png</key>
		<dict>
			<key>frame</key>
			<string>{{51, 301}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload51.png</key>
		<dict>
			<key>frame</key>
			<string>{{351, 1}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload52.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 451}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload53.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 51}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload54.png</key>
		<dict>
			<key>frame</key>
			<string>{{151, 301}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload55.png</key>
		<dict>
			<key>frame</key>
			<string>{{151, 151}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload56.png</key>
		<dict>
			<key>frame</key>
			<string>{{201, 101}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload57.png</key>
		<dict>
			<key>frame</key>
			<string>{{101, 151}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload58.png</key>
		<dict>
			<key>frame</key>
			<string>{{301, 51}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload59.png</key>
		<dict>
			<key>frame</key>
			<string>{{51, 401}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload6.png</key>
		<dict>
			<key>frame</key>
			<string>{{51, 51}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload60.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 301}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload61.png</key>
		<dict>
			<key>frame</key>
			<string>{{251, 151}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload7.png</key>
		<dict>
			<key>frame</key>
			<string>{{201, 1}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload8.png</key>
		<dict>
			<key>frame</key>
			<string>{{301, 151}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
		<key>ReloadAnimation/reload9.png</key>
		<dict>
			<key>frame</key>
			<string>{{151, 201}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{50, 50}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>textureFileName</key>
		<string>ReloadAnimation.png</string>
	</dict>
</dict>
</plist>
