<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>PNGAssets/background.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1536, 2048}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1536, 2048}}</string>
			<key>sourceSize</key>
			<string>{1536, 2048}</string>
		</dict>
		<key>PNGAssets/bullet.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 3262}, {55, 97}}</string>
			<key>offset</key>
			<string>{0, 5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{72, 46}, {55, 97}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>PNGAssets/car.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2051}, {612, 163}}</string>
			<key>offset</key>
			<string>{-2, -91}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12, 210}, {612, 163}}</string>
			<key>sourceSize</key>
			<string>{640, 400}</string>
		</dict>
		<key>PNGAssets/deadpigeon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 3114}, {55, 146}}</string>
			<key>offset</key>
			<string>{-5, -5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{117, 82}, {55, 146}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>PNGAssets/deadraven.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2963}, {149, 137}}</string>
			<key>offset</key>
			<string>{-9, 27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{66, 54}, {149, 137}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>PNGAssets/deadswallow.png</key>
		<dict>
			<key>frame</key>
			<string>{{323, 2218}, {97, 100}}</string>
			<key>offset</key>
			<string>{11, 6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{113, 94}, {97, 100}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>PNGAssets/heart.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2665}, {296, 282}}</string>
			<key>offset</key>
			<string>{-1, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{31, 11}, {296, 282}}</string>
			<key>sourceSize</key>
			<string>{360, 302}</string>
		</dict>
		<key>PNGAssets/pigeon.png</key>
		<dict>
			<key>frame</key>
			<string>{{166, 2341}, {195, 184}}</string>
			<key>offset</key>
			<string>{0, -13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{53, 71}, {195, 184}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>PNGAssets/poopinfly.png</key>
		<dict>
			<key>frame</key>
			<string>{{323, 2320}, {18, 36}}</string>
			<key>offset</key>
			<string>{-6, -12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{85, 94}, {18, 36}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>PNGAssets/pooponcar.png</key>
		<dict>
			<key>frame</key>
			<string>{{166, 2538}, {110, 137}}</string>
			<key>offset</key>
			<string>{1, -17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{46, 49}, {110, 137}}</string>
			<key>sourceSize</key>
			<string>{200, 200}</string>
		</dict>
		<key>PNGAssets/raven.png</key>
		<dict>
			<key>frame</key>
			<string>{{166, 2051}, {288, 155}}</string>
			<key>offset</key>
			<string>{-2, 8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4, 64}, {288, 155}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
		<key>PNGAssets/swallow.png</key>
		<dict>
			<key>frame</key>
			<string>{{323, 2051}, {165, 137}}</string>
			<key>offset</key>
			<string>{0, 18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{67, 63}, {165, 137}}</string>
			<key>sourceSize</key>
			<string>{300, 300}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>textureFileName</key>
		<string>PNGAssets.png</string>
	</dict>
</dict>
</plist>
